<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/gallery.css">
  <!-- endbuild -->
</head>
<body ng-app="appApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->
<ul class="cb-slideshow">
  <li><span>Image 01</span></li>
  <li><span>Image 02</span></li>
  <li><span>Image 03</span></li>
  <li><span>Image 04</span></li>
  <li><span>Image 05</span></li>
  <li><span>Image 06</span></li>
</ul>
<!-- Add your site or application content here -->
<div class="masthead" style="opacity:1;"></div>
  <div class="navbar navbar-trans " role="navigation" ng-controller="HeaderCtrl as vm">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav ">
          <li ng-click="vm.showFlyer()"><a ng-href="#/" >Home</a></li>
          <!--<li ng-click="vm.hideFlyer()"><a ng-href="#about" >About</a></li>-->
          <!--<li>-->
          <li  ng-click="vm.hideFlyer()"><a ng-href="#lineup">Line Up</a></li>
          <li class="dropdown" >
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" ><span ng-bind="vm.selectedAction.name"></span><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="action in vm.actions">
                <a href="{{action.id}}" ng-click="vm.setAction(action);vm.hideFlyer()">{{action.name}}</a>
              </li>
            </ul>
          </li>
          <li><a ng-href="#djmixes" ng-click="vm.hideFlyer()">DJ Mixes</a></li>
          <li><a href="http://www.astralcircus.net" target="_blank" ng-click="vm.hideFlyer()" >Tickets</a></li>

        </ul>
        <!--<div class="pull-right ">-->
          <!--<ngcart-summary></ngcart-summary>-->
        <!--</div>-->
      </div>
    </div>
</div>
<div class="container-fluid"  ng-view="">
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
      (A[l].q = A[l].q || []).push(arguments)
    }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/gsap/src/uncompressed/TweenMax.js"></script>
<script src="bower_components/ngcart/dist/ngCart.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/controllers/gallery.js"></script>
<script src="scripts/controllers/tickets.js"></script>


<!-- endbuild -->
</body>
</html>
