<div class="row">
  <div class="col-md-5 col-md-offset-1">
      <img ng-src="images/preflyer-front.jpg" class="center-block" style="height: 60%; width: 60%; ">
  </div>
  <div class="col-md-6">
    <div class="well well-lg info-well" style="background-color: #66afe9">
      <p><span>
        The wait is finally over!! Astral Circus returns with another night full of psychedelic magic and creative
        energy.<br/><br/>
        Astral Circus is a realm of self-expression and mutual insight. We endeavour to cultivate an interactive
        experience that stimulates beyond the senses, and unlocks the innate creativity possessed by each and every one
        of us.<br/><br/>
        Lets animate our vision - together!<br/>
        <br/>

        ★★ LINE UP TO BE ANNOUNCED ★★<br/>
        Astral Circus residents<br/>
        Plus amazing guests<br/>
        2 rooms of psytrance & alternative<br/>
        <a href="http://www.facebook.com/cognitivedissidents">Cognitive Dissidents</a> decor <br/>
        Outdoor smoking area & terrace<br/>
        Filled with friendly & fabulous party people!!<br/>

        Advanced Saver Tickets - £10.00+b/f<br/>
        Standard Tickets - £12.00+b/f<br/>
      </span></p>
    </div>
  </div>

</div>
