<!--<div class="row" ng-controller="TicketsCtrl as vm">-->
  <!--<div class="col-md-5 col-md-offset-1">-->
    <!--<img ng-src="images/preflyer-front.jpg" class="center-block" style="height: 60%; width: 60%; ">-->
  <!--</div>-->
  <!--<div class="col-md-6">-->
    <!--<div class="well well-lg info-well" style="background-color: #66afe9">-->

      <!--<ngcart-addtocart id="{{ vm.item.id }}" name="{{ vm.item.name }}" price="{{ vm.item.price }}" quantity="1" quantity-max="10"></ngcart-addtocart>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="row" >-->
<iframe  src="http://www.astralcircus.net"  target='_top'></iframe>
<!--</div>-->
